html {
  font-size: 62.5%;
}

body {
  margin: 0px;
  min-height: 100vh;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr auto;
  grid-template-areas:
    "header"
    "hero"
    "main"
    "footer";
  background: linear-gradient(
    180deg,
    #313b5f 8%,
    #1e1f50 10.4%,
    #1e1f50 30%,
    #4b5566 40%,
    #e8eef1 44%
  );
}

main {
  grid-area: main;
  max-width: 1600px;
  margin-inline: auto;
}

a {
  color: inherit;
}

h1 {
  font-size: var(--fs-xxl);
  font-style: normal;
  font-weight: 600;
  font-family: "Poppins";
  line-height: 30px;
  letter-spacing: 0.18px;
}

h2 {
  font-family: Poppins;
  font-size: var(--fs-xxl);
  font-weight: 400;
  color: var(--lightest-gray);
}

.row {
  display: flex;
  flex-direction: row;
  position: inherit;
  margin-block: 0.2em;
}

.numbers {
  font-family: "Orbit";
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.08px;
  font-weight: 400;
}

.header {
  display: flex;
  width: 100dvw;
  max-width: 1600px;
  margin-inline: auto;
  height: var(--header-height);
  grid-area: header;
  /* background: linear-gradient(270deg, #535353 0%, #3D3E68 27.21%, #1E1F50 100%); */
  .header-logo {
    display: flex;
    position: relative;
    align-items: flex-start;
    width: clamp(200px, 25vw, 400px);
    height: auto;
    margin-inline: 1em 0;
    margin-block-start: 1em;
    color: var(--white);
    z-index: 190;
  }
  .header-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-inline: auto 1em;
    z-index: 190;
  }
  .nav-toggle {
    display: none;
  }
  .nav-toggle-label {
    /*Hamburger Nav*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-block: 0.5em;
    margin-inline: 0.8em;
    width: 30px;
    height: 24px;
    cursor: pointer;
    z-index: 210;
    position: relative;
    span {
      display: block;
      width: 100%;
      height: 3px;
      background: #ededed;
      margin-block-end: 5px;
      border-radius: 2px;
      transition: all 0.3s ease;
    }
  }

  .nav-toggle-label span:last-child {
    margin-block-end: 0;
  }

  .nav-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(6px);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s ease;
    z-index: 199;
  }

  .navbar {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 1%;
    right: -100%;
    width: 80%;
    min-height: 80%;
    height: auto;
    background: rgba(30, 31, 80, 0.95);
    border: 1px solid rgba(119, 119, 129, 0.363);
    padding: 2rem;
    border-radius: 8px;
    transition: right 0.4s ease;
    z-index: 205;
    .mini-logo {
      position: relative;
      fill: var(--white);
      width: 80px;
      height: 100px;
      margin-inline: 1.5em auto;
      margin-block-end: 1.5em;
    }

    .nav-items > li,
    label {
      color: #ededed;
      text-decoration: none;
      font-weight: 400;
      font-size: var(--fs-lg);
      cursor: pointer;
    }

    .nav-items > li {
      list-style: none;
      padding: 0;
      margin-inline: 1.2em;
    }

    li {
      margin-block: 0.5em 1em;
    }

    a,
    label {
      color: #ededed;
      font-weight: 400;
      cursor: pointer;
    }
  }

  .nav-toggle:checked + .nav-toggle-label span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .nav-toggle:checked + .nav-toggle-label span:nth-child(2) {
    opacity: 0;
  }

  .nav-toggle:checked + .nav-toggle-label span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-toggle:checked ~ .nav-overlay {
    opacity: 1;
    pointer-events: auto;
  }

  .nav-toggle:checked ~ .navbar {
    right: 0;
  }

  .nav-toggle:checked ~ .nav-toggle-label {
    position: fixed;
  }
  .submenu {
    display: flex;
    flex-direction: column;
    position: relative;
    max-height: 0;
    overflow: hidden;
    padding-left: 0.1em;
    transition: max-height 0.4s ease;
    z-index: -1;
    a {
      font-size: var(--fs-base);
    }
    .menu-title {
      display: none;
      font: 500 24px Raleway, sans-serif;
      width: 50%;
      padding-block: 2em;
      span {
        width: 100%;
        text-align: right;
        padding-inline: 1em;
      }
    }
    .menu-items li {
      margin-inline: 0.5em;
      margin-block: 0.2em;
    }
    .menu-items li:last-child {
      margin-block: 0.5em 0;
    }
  }
  .submenu-toggle:checked + label + .submenu {
    max-height: 400px;
  }

  .submenu-toggle:checked + label .chevron {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
  }
  .submenu-toggle {
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }

  .chevron {
    display: inline-block;
    font-size: 2.8rem;
    color: var(--white);
  }
}

hero {
  position: relative;
  min-height: 440px;
  width: 100%;
  grid-area: hero;
}
.hero-home {
  background: #1e1f50;
  .numbers {
    position: relative;
    font-size: var(--fs-sm);
    color: #fff;
    top: -1.6em;
    transform: translateX(0.8em);
  }
  .hero-reader-ada {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    white-space: nowrap;
  }
  .hero-text {
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 10;
    font-size: var(--fs-xl);
    font-style: normal;
    font-weight: 600;
    font-family: "Poppins";
    line-height: 30px;
    letter-spacing: 0.18px;
    right: -2px;
    bottom: 1em;
    .row {
      margin-block-end: 0.1em;
      position: relative;
    }
    .text {
      align-items: center;
      -webkit-text-stroke: 0.8px #fff;
      color: transparent;
      margin-inline-end: 0.1em;
    }
    .items {
      display: flex;
      margin-block: 0.1em;
    }
    .row:first-of-type {
      .items:first-of-type {
        transform: scale(1.1);
        .text {
          -webkit-text-stroke: 0px;
          color: #fff;
        }
      }
      .items:not(:first-of-type) {
        transform: translateX(0.1em);
      }
    }
  }

  .hero-img {
    position: absolute;
    height: 90%;
    width: auto;
    right: 0;
    bottom: 0;
    max-width: none;
  }
}

.headline {
  align-items: center;
  margin-block: 0.2em;
  h2 {
    font-family: Raleway, sans-serif;
  }
  .row {
    margin-block-end: 0;
  }
  .subheading {
    display: flex;
    position: relative;
    font-size: var(--fs-lg);
    line-height: 2.8rem;
  }
  .row.subheading {
    display: flex;
    inset: 5%;
  }

  p {
    margin-block-start: 1em;
    width: 90%;
  }
}

.outline {
  -webkit-text-stroke: 1px var(--lightest-gray);
  color: transparent;
  font-size: var(--fs-xxl);
  margin-inline-end: 0.2em;
}

@media screen and (min-width: 900px) {
  h1 {
    font-size: var(--fs-lg);
  }

  p {
    font-size: var(--fs-base);
  }

  .header {
    height: var(--wide-header-height);
    display: flex;
    position: relative;
    background: #3b4774;
    .header-logo {
      z-index: 195;
      margin-inline: 5em 0;
      margin-block: auto;
    }
    .header-nav {
      display: flex;
      width: 60%;
      margin-inline: auto;
    }
    .nav-toggle,
    .nav-toggle-label,
    .nav-overlay {
      display: none;
    }
    .navbar {
      position: static;
      left: 0;
      transform: none;
      height: auto;
      width: 100%;
      background: transparent;
      padding: 0;
      border: none;
      .mini-logo {
        display: none;
      }
      .nav-items > li {
        margin: 0;
        padding: 1em;
      }
    }
    .nav-items {
      display: flex;
      flex-direction: row;
      align-items: center;
      list-style: none;
      margin: 0;
      padding-block: 0;
    }
    .nav-items > li > a,
    .has-submenu > label {
      color: white;
      text-decoration: none;
      font-size: var(--fs-md);
      font-weight: 400;
      cursor: pointer;
      padding: 0.5em 0.2em;
      text-wrap: nowrap;
      transition: transform ease 0.3s;
    }
    .chevron {
      display: inline-block;
      font-size: 2rem;
      color: var(--white);
    }
    .has-submenu {
      position: relative;
    }
    .submenu {
      all: unset;
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      padding-block: var(--wide-header-height) 1em;
      padding-inline: 1em;
      align-items: center;
      background: rgba(0, 0, 0, 0.6);
      backdrop-filter: blur(6px);
      border-radius: 4px;
      border: 1px solid var(--lightest-gray);
      border-top: 0;
      z-index: -1;
    }
    .nav-items > li > a:hover {
      transform: scale(1.5);
      color: rgb(39, 31, 39);
    }
    .submenu-toggle {
      display: none;
    }
    .submenu a {
      display: block;
      padding: 0.2em 0.5em;
      font-size: var(--fs-sm);
      text-decoration: none;
      white-space: nowrap;
      transition: transform ease 0.3s;
    }

    .submenu a:hover {
      transform: scale(1.1);
    }
    .has-submenu:hover {
      .submenu {
        display: flex;
      }
      .menu-title {
        display: flex;
        flex-direction: row;
      }
      .menu-items {
        border-left: 1px solid var(--lightest-gray);
      }
      .chevron {
        transform: rotate(180deg);
        transition: transform 0.3s ease;
      }
    }
  }

  .hero-home {
    width: 100%;
    height: calc(100vh - var(--wide-header-height));
    .numbers {
      top: -1.6em;
      font-size: var(--fs-md);
      transform: translateX(0.8em);
    }
    .hero-text {
      font-size: var(--fs-xxxl);
      right: 25%;
      bottom: 25%;
      .row {
        margin-block-end: 0.5em;
      }
    }
    .items {
      margin-block: 0.1em;
    }
    .items:not(:first-of-type) {
      transform: translateX(-0.2em);
    }
    .hero-text:has(.row:first-of-type .items:not(:first-of-type):hover)
      .row:first-of-type {
      .items:first-of-type {
        transform: scale(1);
        .text {
          color: transparent;
          -webkit-text-stroke: 1px #ededed;
        }
      }
      .items:not(:first-of-type) {
        /* transform: scale(1.1); */
        .text {
          color: var(--white);
          -webkit-text-stroke: 0px;
        }
      }
    }
    .hero-text:has(.row:not(:first-of-type) .items:hover)
      .row:first-of-type
      .items:first-of-type {
      transform: scale(1);
      .text {
        color: transparent;
        -webkit-text-stroke: 1px #ededed;
      }
    }
    .hero-text .row:not(:first-of-type) .items:hover {
      /* transform: scale(1.1); */
      /* margin-inline-end: 0.2em; */
      .text {
        color: var(--white);
        -webkit-text-stroke: 0px;
      }
    }
  } /* close hero-home */
} /*close media query */
